:host {
  display: block;
  height: 100%;
  background: var(--color-light-bg);
}


.groups-page {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - var(--header-height));
  width: 100%;
  box-sizing: border-box;

  app-group-dropdown {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 576px) {
  .groups-page {
    padding: 16px;
  }
}
