:host {
  display: block;
  height: 100%;
  background: var(--color-light-bg);
}


.server-container {
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;

  app-server-input {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 576px) {
  .server-container {
    padding: 16px;
  }
}
