:host {
  display: block;
  height: 100%;
  background: var(--color-light-bg);
}


.forms-page {
  padding: 16px;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - var(--header-height));
  width: 100%;
  box-sizing: border-box;

  app-form-list {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .forms-page {
    padding: 12px;
  }
}
