:host {
  display: block;
  height: 100%;
  background: var(--color-light-bg);
}


.login-container {
	display: grid;
	place-items: center;
	min-height: calc(100dvh - var(--header-height));
	padding: 16px;
}

