/* Ionic core and basic CSS */
@import "@ionic/angular/css/core.css";
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";

:root {
	--ion-color-primary: #355e93;
	--ion-color-primary-rgb: 53, 94, 147;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255, 255, 255;
	--ion-color-primary-shade: #2f5382;
	--ion-color-primary-tint: #4a6fa0;
	--ion-color-warning: #ef6c00;
}
