name: Build Android

on:
  push:
    branches:
      - prayag-RESPECTify

jobs:
  build:
    name: Build APK
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v4
        with:
          submodules: true
          token: ${{ secrets.ACCESS_TOKEN }}

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: "17" # Check if your project supports 21; 17 is safer
          distribution: 'temurin'

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install dependencies
        run: npm install

      - name: Build
        env:
          CI: false
          # REACT_APP_API_KEY: ${{ secrets.REACT_APP_API_KEY }}
          # REACT_APP_AUTH_DOMAIN: ${{ secrets.REACT_APP_AUTH_DOMAIN }}

        run: npm run build

      - name: Deploy to Firebase Hosting
        uses: w9jds/firebase-action@v13.0.3
        with:
          args: deploy --project ${{ secrets.FIREBASE_PROJECT_ID }} --only hosting:tangerine-client-app-main
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}

      - name: Build Android APK
        working-directory: ./android/
        run: |
          chmod +x ./gradlew
          ./gradlew assembleDebug

      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-debug
          path: android/app/build/outputs/apk/debug/app-debug.apk

      # Optional: Keep your push logic but make it cleaner
      - name: Push APK to Branch
        env:
          GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        run: |
          cp android/app/build/outputs/apk/debug/app-debug.apk .
          git config --global user.email "skanda@sutara.org"
          git config --global user.name "kvskandakumar"
          git remote add origin https://${{ secrets.ACCESS_TOKEN }}@github.com/chimple/tangerine-client-app.git
          git checkout -b apk
          git add app-debug.apk
          git commit -m "created apk"
          #git push --force secure-origin apk
          #git push --set-upstream origin gh-pages
          git push origin apk -f